
/* =Base Styles 
-------------------------------------------------------------- */

html { overflow-y: scroll; } /* Always force a scrollbar in non-IE */ 

body { 
  color: #444; 
  background: #ddd;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* Links */
a, a:active, a:visited { color: #308fbf; }
a:hover { color: #00aaff; }

/* Headings */
h1,h2,h3,h4,h5,h6 { 
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0.25em 0;
  text-shadow: -1px 1px rgba(255,255,255,0.5);
}
h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

/* Paragraphs */
p { 
  margin: 0 0 1.25em; 
  max-width: 38em;
}

hr { 
  margin: 2em -50em; 
}

figure {
  display: block;
  margin: 0 0 1.25em; 
  max-width: 38em;
}
figcaption {
  display: block;
  text-align: center;
  font-size: 85%;
  color: #888;
  padding: 0.75em 1em;
  text-shadow: -1px 1px rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.04);
  border-radius: 0.5em;
  box-shadow: inset 0 0 1em rgba(0,0,0,0.1);
}

/* Lists */
ul, ol { margin: 0 0 0 1.75em; padding: 0 0 0.75em; max-width: 38em; }
ol { list-style-type: decimal; }
li { padding: 0 0 0.75em; }
nav ul, nav ol, nav li { margin: 0; padding: 0; }
dl { margin: 0; padding: 0 0 0.75em; }
dt { font-weight: bold; }
dd { margin-left: 2em; padding-bottom: 0.75em; }

/* Form Validity Colors */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { }

/* Text Selection (must be separate declarations) */
::-moz-selection{ background: #ff8b38; color: #fff; text-shadow: none; }
::selection { background: #ff8b38; color: #fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #ff8b38; } 

/* Images */
img {
  max-width: 100%; /* When images are too wide for containing element, force them to fit. */
  height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.ie7 img { 
  -ms-interpolation-mode: bicubic; /* bicubic resizing for IE7 images */
}


/* =Nonsemantic Styles 
-------------------------------------------------------------- */

/* Hide for both screenreaders and visual browsers */
.hidden { display: none; visibility: hidden; } 
/* Hide visually, but keep available for screenreaders */
.visuallyhidden { position: absolute !important; 
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }
/* Hide from screenreaders and visual browsers, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent CLEARFIX */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.nowrap { white-space: nowrap; }

.align-right {
  float: right;
  margin-left: 1.25em;
  margin-bottom: 0.5em;
}


/* =Layout & Content
-------------------------------------------------------------- */

#page {
  overflow: hidden;
  padding: 0 0.75em 3em;
}
#site-header {
  background: #6a6a6a;
  color: #eee;
  margin: 0 -2.75em 0.75em;
  padding: 1em 2.75em;
  box-shadow: 0 0 10em 10em rgba(255,255,255,0.5), inset 0px 4em 3em 0 rgba(255,255,255,0.125);
}
#site-title, .primary-header {
  font-family: 'Bitter', cursive;
  font-weight: 700;
}
#site-title {
  position: relative;
  z-index: 100;
  margin: 0;
  font-weight: 400;
  text-shadow: 1px -1px rgba(0,0,0,0.5);
}
#site-description {
  font-size: 1.25em;
  font-weight: normal;
  text-shadow: 1px -1px rgba(0,0,0,0.5);
}
#site-header a {
  text-decoration: none;
  color: #eee;
  border-bottom: 1px solid #ffdabf;
}
#site-header a:hover {
  color: #ffdabf;
}


/* =Inline Images
-------------------------------------------------------------- */

.social-network-icon {
  width: 32px;
  height: 32px;
}
.iphone {
  width: 198px;
  max-width: 33%;
  height: auto;
}
.screenshot {
  width: 390px;
  max-width: 100%;
  height: auto;
}
.picture {
  border: 4px solid #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -webkit-transform:rotate(1deg);
     -moz-transform:rotate(1deg);
      -ms-transform:rotate(1deg);
       -o-transform:rotate(1deg);
          transform:rotate(1deg);
}
.picture.frank {
  -webkit-transform:rotate(-1deg);
     -moz-transform:rotate(-1deg);
      -ms-transform:rotate(-1deg);
       -o-transform:rotate(-1deg);
          transform:rotate(-1deg);
}
.picture.mjumbe {
  margin-left: -10px;
  -webkit-transform:rotate(-3deg);
     -moz-transform:rotate(-3deg);
      -ms-transform:rotate(-3deg);
       -o-transform:rotate(-3deg);
          transform:rotate(-3deg);
}
.picture.landscape {
  width: 300px;
}
.picture.portrait {
  width: 225px;
}
.avatar {
  width: 50px;
  height: 50px;
  background: #999;
  border: 4px solid #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  float: left;
  margin: 0 1.25em 0.5em 0;
}
.avatar.female {
  -webkit-transform:rotate(-2deg);
     -moz-transform:rotate(-2deg);
      -ms-transform:rotate(-2deg);
       -o-transform:rotate(-2deg);
          transform:rotate(-2deg);
}
.avatar.male {
  -webkit-transform:rotate(2deg);
     -moz-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
       -o-transform:rotate(2deg);
          transform:rotate(2deg);
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 480px) {
  #page { padding: 0 2em 4em; }
  h1 { font-size: 3.5em; }
  h2 { font-size: 2.5em; }
  h3 { font-size: 1.75em; }
  h4 { font-size: 1.5em; }
  h5 { font-size: 1.25em; }
  h6 { font-size: 1em; }
  #site-header {
    margin: 0 -4em 2em;
    padding: 2em 4em;
  }
  .avatar {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  #page { padding: 0 8em 6em; }
  #site-header {
    margin: 0 -10em 2em;
    padding: 2em 10em;
  }
  .avatar { margin-left: -2.5em; }
  .screenshot-second {
    margin-left: -200px;
    margin-bottom: 3em;
  }
  .iphone + .screenshot-second {
    margin-left: -50px;
  }
  .zoomable {
    -webkit-transition: -webkit-transform .3s ease-in-out;
       -moz-transition: -moz-transform .3s ease-in-out;
        -ms-transition: -ms-transform .3s ease-in-out;
         -o-transition: -o-transform .3s ease-in-out;
            transition: transform .3s ease-in-out;
    position: relative;
    z-index: 1;
  }
  .zoomable:hover {
    z-index: 2;
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
        -ms-transform: scale(2);
         -o-transform: scale(2);
            transform: scale(2);
  }
  .screenshot.zoomable {
    -webkit-transform-origin: 20% 50%;
       -moz-transform-origin: 20% 50%;
        -ms-transform-origin: 20% 50%;
         -o-transform-origin: 20% 50%;
            transform-origin: 20% 50%;
  }
}
@media only screen and (min-width: 1300px) {
  body {
    font-size: 1.2em;
  }
}


/* =Base Print Styles, inline to save the HTTP request
-------------------------------------------------------------- */

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}